Discuss string slicing and provide examples

In [2]:
'''string slicimg simply means accessing the elements in the string.
in simple words we can also say that slicing simply means extracting'''
#examples
a='pwskills' #-- here a = pwskills
a[0]  #-- to access the ist word p the indexing starts from the 0 so the following step is used to access the ist word

'p'

In [4]:
#example 2
b='i am a future data-analyst'
'''above indexing starts from 0 and thye space also gets the index if we want to extract or access
the data-analyst the index will be [14:]'''
b[14:]

'data-analyst'

In [5]:
b

'i am a future data-analyst'

In [6]:
''' another ways of slicing are [:-1] it means start from ist index  till last one'''
b[:-1]

'i am a future data-analys'

In [7]:
'''another way is [::2] it means start from one till end but here the step is 2'''
b[::2]

'ia  uuedt-nls'

In [9]:
'''another way is to reverse a string[::-1]'''
b[::-1]

'tsylana-atad erutuf a ma i'

In [10]:
'''another way is to accss only last three elements[-3:]'''
b[-3:]

'yst'

Explain the key features of lists in Python

In [12]:
''' 1: lists are ordered collection of elements
2: lists are mutable
3: lists can be accessed through indexes'''

' 1: lists are ordered collection of elements\n2: lists are mutable\n3: lists can be accessed through indexes'

Describe how to access modify and delete elements in a list with examples.

In [13]:

'''to access a list we use the concept of slicing'''
w=[1,2,3,4,'kamran','pwskills',3.5j,True]
w[0]

1

In [14]:
#to acess the pwskills we will use the index 5
w[5]

'pwskills'

In [15]:
'''also the another way of accessing elements if their is list in list'''
e=[[1,2,3],[6,7,8]]
'''here the starting indexes will be o and 1 and in inner it will start from o,1,2 for example bellow:'''
e[0]
e[0][1]

2

In [17]:
'''to modify the elements in list we use the concept of slicing and assignment operator'''
lis=['mango','apple','icecream']# suppose it is the shopping list but suddenly the mom calls and says i dont need ice-cream instead bring brinjal
lis[2]# ist we will access the element

'icecream'

In [18]:
lis[2]='brinjal'# now we will assign the new value / modify

In [19]:
lis

['mango', 'apple', 'brinjal']

In [21]:
'''deleting elements  in lists we use two concepts ist del and another clear
del deletes the whole list
.clear clears the elements it will make list empty'''
t=[1,2,3,4]
del t

In [22]:
t

NameError: name 't' is not defined

In [23]:
r=[4,5,6,7]
r.clear()

In [24]:
r

[]

Compare and contrast tuples and lists with examples

In [25]:
#list 
#list is mutable
a=[1,2,3]
a[1]=4
a

[1, 4, 3]

In [27]:
#tuples are immutable
a=(1,2,3)
a[0]=2

TypeError: 'tuple' object does not support item assignment

In [28]:
#both list and tuple store haterogenous data
c=[1,2,3,'ajay-sir' ,True,4+6j]
d=(1,2,3,'ajay-sir',True,6+7j)

In [29]:
c

[1, 2, 3, 'ajay-sir', True, (4+6j)]

In [30]:
d

(1, 2, 3, 'ajay-sir', True, (6+7j))

In [31]:
# both in tuple and list we can access the elements by means of indexing

a=[1,2,3,4]
c=(1,2,3,4)
a[2]
c[2]

3

 Describe the key features of sets and provide examples of their use

In [32]:
#sets are unorderd collection of elements
# gives only originals r4emoves the duplicates

''' for example if we have to buy something if one thing occurs two times we have to pay extra money'''
a={'mango','apple','mango','banana'}

In [33]:
a

{'apple', 'banana', 'mango'}

In [34]:
a={1,2,3,'ajay'}

In [35]:
a

{1, 2, 3, 'ajay'}

In [36]:
# it soent support slicing as it is an unorderd 
a[0]=1

TypeError: 'set' object does not support item assignment

Discuss the use cases of tuples and sets in Python programming

In [37]:
''' usecases of tuple in python programming :
for example if in office we have employee-id once defined we can't change it so we use tuple here to store the data'''
#or
''' for example we need to store adhaar number of employees ,, here obvious oncew the adhaar number is defined we dont want to change it 
so we use tuyple to storte the data'''



''' use case of sets in python programming:
for example we need to store the employee id's of employes so here once defined for employee we dont need to repeat that employe or employe id so we use sets to stopre the data'''

" use case of sets in python programming:\nfor example we need to store the employee id's of employes so here once defined for employee we dont need to repeat that employe or employe id so we use sets to stopre the data"

Describe how to add, modify, and delete items in a dictionary with examples

In [38]:
a={'name':'kamran','class':'5'}

In [49]:
#to modify
a['name']='sahil'
a

{'name': 'sahil', 'class': '5'}

In [52]:
#to delete
del a
a

NameError: name 'a' is not defined

In [55]:
# to add
a={'name':'kamran','surname':'malik'}
a.update({'r/o':'srinagar'})
a

{'name': 'kamran', 'surname': 'malik', 'r/o': 'srinagar'}

 Discuss the importance of dictionary keys being immutable and provide example

In [ ]:
''' as the values are being accessedby the keys so the keys sholud me immutable so that we will have only one key vale not 
two keys with same values'''
''' for example if we need to store the phone numbers we will save the phone number of father by key name father
and value name his phone number we will not save the brothers phone number with fathers key name it willl be difficult
to access and also it will be very hectic to update the numbr'''
a={dad}